@import './main.scss';

.card {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  transform: translateX(30px);
  visibility: hidden; 
  height: 200px;
  width: 340px;
}
.card.show:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s ease-in-out;
  transform: translateY(-10px);
}

.card.show {
  opacity: 1;
  transform: translateX(0px);
  visibility: visible; 
}