@import "./main.scss";

.home-hero {
  @apply flex flex-wrap py-16 px-32 mt-4 border-b-gray-200 border-b-2;
}

.hero-content {
  @apply flex-col flex justify-center content-start transition-all ease-in-out pr-4 opacity-0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden; 
  max-width: 700px;
}

.hero-content.show {
  opacity: 1;
  visibility: visible; 
}

.gradient-text {
  background-image: linear-gradient(135deg, var(--blue), var(--green) 55%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  line-height: normal;
}

.hi-gradient {
  color: var(--h-color);
  background-image: linear-gradient(135deg, var(--blue), var(--green));
  padding: 0 4px;
  border-radius: 3px;
}